{% extends 'base.html' %}

    {% block content %}
        <!-- <h1> Before for loop </h1> -->
        {% for entry in entries %}
            <!-- <h1> Inside for loop </h1> -->
            <article>
                <div>

                    <a href='/entry?q={{entry.id}}' >
                      <h3>{{entry.title}}</h3>
                    </a>

                    <p>{{entry.body}}</p>
                  
                </div>
            </article>
            <!-- <hr> -->
        {% endfor %}
        <!-- <h1> After for loop </h1> -->
    {% endblock %}
