{% extends 'base.html' %}

    {% block content %}
        <form method='POST' action="/newpost">
          <label> New Post Title
            <br>
            <input name="entry_title" type="text" value="{{ entry_title }}" />
          </label>
          <br>
          <br>
          <label> New Post Body
            <br>
            <textarea name="entry_body" rows="10" cols="30" value="{{ entry_body }}" ></textarea>
          </label>
          <br>
          <input type="submit" value="Submit Post" />
        </form>
    {% endblock %}
